@page
@using WebApplication.RazorPages.Models
@model WebApplication.RazorPages.Pages.Persons.List

<a class="btn btn-primary" asp-page="Create">Ajouter un nouvel élément</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom et prénom</th>
        <th scope="col">Adresse e-mail</th>
        <th scope="col">Date de naissance</th>
        <th scope="col">Est en vie ?</th>
        <th scope="col">Action(s)</th>
    </tr>
    </thead>
    <tbody>
    @{
        int i = 1;
    }
    @foreach (Person person in Model.Persons)
    {
        <tr>
            <th scope="row">@i</th>
            <td>@person.FullName</td>
            <td>@person.Email</td>
            @* Output: DD/MM/YY *@
            <td>@person.BirthDate.ToShortDateString()</td>
            <td>
                @*
                @if (person.IsAlive)
                {
                    <input class="form-check-input" type="checkbox" value="" checked>
                }
                else
                {
                    <input class="form-check-input" type="checkbox" value="">
                }*@
                <input class="form-check-input" type="checkbox" value="" disabled @(person.IsAlive ? "checked" : "")>
            </td>
            <td>
                @* <a class="btn btn-secondary" href="Read/@person.Id">Visualiser</a> *@
                <a class="btn btn-secondary" asp-page="./Read" asp-route-id="@person.Id">Visualiser</a>
                @* TODO : check why autocomplete doesn't work *@
                @* <a class="btn btn-secondary" href="@Url.Page("./Read")/@person.Id">Visualiser</a> *@
                @* <a class="btn btn-secondary" asp-page="./Read" asp-route-id="@person.Id" asp-route-myId="test" asp-route-email="">Visualiser</a> *@
                <a class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@person.Id">Supprimer</a>
            </td>
        </tr>
        i++;
    }
    </tbody>
</table>